BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 140
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: true
AllowAllArgumentsOnNextLine: false
UseTab: Never
BreakBeforeBraces: Attach
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Preserve
SortIncludes: Never
InsertNewlineAtEOF: true
