Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  -performance-no-int-to-ptr,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[\\/]src[\\/].*'
FormatStyle: file
